.square {
    background: #fff;
    border: 3px solid #999;
    float: left;
    font-size: 48px;
    font-weight: bold;
    line-height: 70px;
    height: 70px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 70px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }